<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>WaghChain</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
  <div class="start-container">
  <p class="tagline">WaghChain is a blockchain based networking application with no central storage</p>
    <img src="/static/logo.png" alt="Logo" class="start-logo" />
    <h1>WaghChain</h1>
    
    <button class="launch-btn" onclick="window.location.href='/index.html'"> Launch</button>
  </div>
</body>
</html>

